@{
    ViewBag.Title = "Kontakt";
}
<div class="container contact">
    <h2>@ViewBag.Title.</h2>
    <div class="panel-info">
        <div class="panel-heading">
            Firma XYZ
        </div>
        <div class="panel-body">
            <address>

                Ul. Polna 555<br />
                <abbr title="Phone">Tel:</abbr>
                67 222 22 22
            </address>
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>



</div>