@{
    ViewBag.Title = "Kontakt";
}
<div class="container contact">
    <h2>@ViewBag.Title.</h2>
    <div class="panel-info">
        <div class="panel-heading">
            Firma XYZ
        </div>
        <div class="panel-body">
            <address>

                <p>
                    Ul. Polna 555
                </p>
                <p>
                    <abbr title="Phone">Tel:</abbr>
                    67 222 22 22
                </p>
            </address>
            <address>
                <p><strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a></p>
                <p><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a></p>
            </address>
        </div>
    </div>



</div>