@model System.Collections.Generic.IList<ManageNoticeProperty.Models.Flat>
@{
    ViewBag.Title = "Stron Główna";
}
<div class="jumbotron">
    SLIDER
</div>
<div class="container main-page-three-photo">
    <div class="row">
        <h1>Ostatnio przeglądane mieszkania</h1>
    </div>
    <div class="row">
        @if (Model.Count == 0)
        {
            @: Brak mieszkń ostatnich przegladanych
    }
        else
        {
            foreach (var flat in Model)
            {
                <div class="col-sm-4 ">
                    <a href="@Url.Action("GetProperty","Property",new {id = flat.FlatId})">
                        <img src="data:image;base64,@Convert.ToBase64String(flat.Album.FirstOrDefault().Photo)" class="img-responsive img-thumbnail" />
                    </a>
                    <div class="main-page-three-photo-text">
                        <a href="@Url.Action("GetProperty","Property",new {id = flat.FlatId})">
                            <h2>@flat.City</h2>
                        </a>
                        <p>
                            @flat.Description
                        </p>
                    </div>

                </div>
            }
        }

    </div>

</div>
