@model ManageNoticeProperty.ViewModel.FlatViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container add-property">
    <h2>Dodaj mieszkanie</h2>


    @Html.Partial("_AddEditFlat", Model)

</div>


@section scripts{
@Scripts.Render("~/bundles/formatPrice")
    <script>
        $(document).ready(function () {
            $(".decimalFormat").priceFormat({
                prefix: '',
                centsSeparator: ',',
                thousandsSeparator: ' '
                
            })
            $("#deletePriceDecimal").rules("remove", "number");
            $("#deleteAreeDecimal").rules("remove", "number");



        });

    </script>
    
    }

