@model ManageNoticeProperty.ViewModel.FlatViewModel
@{
    ViewBag.Title = "Edycja oferty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Edycja</h2>
    @Html.Partial("_AddEditFlat")
</div>

