@model IEnumerable<ManageNoticeProperty.Models.Flat>
@{
    ViewBag.Title = "ManageOwnProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Zarządzanie ofertami</h2>
<div id="list-own-property">
    @Html.Partial("_ListOwnProperty")
</div>

@section scripts
{
    <script>
        $("#hidden-show-property").click(function () {
            idProperty = $(this).attr("data-id");
            $.ajax({
                type: "post",
                url: "@Url.Action("HideShowProperty","Property")",
                ajaxsync: true,
                data: { id: idProperty },
                success: function () {
                    $("#list-own-property").load("/Property/ManageOwnProperty");
                },
                error: function (data) {
                    alert(data)
                }
                
            });
            return false;
        });
    </script>
}
