@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <form name="dane_osobowe">

        <table>
            <tr>
                <td colspan="2"><span class="err" id="e_test" /></td>
            </tr>
            <tr><td>Imię</td><td><input type="text" name="f_imie" onblur="checkStringFocus(this,'imie')"><span class="err" id="e_imie" /></td></tr>
            <tr>
                <td>Nazwisko</td>
                <td>

                    <input type="text" name="f_nazwisko" onblur="checkStringFocus(this,'nazwisko')"><span class="err" id="e_nazwisko" />
                </td>
            </tr>
            <tr><td>E-mail</td><td><input type="email" name="f_email" onblur="checkEmailRegExFocus(this)"> <span class="err" id="e_email" /></td></tr>
            <tr><td>Data</td><td><input type="date" name="f_data" > <span class="err" id="e_data" /></td></tr>
            @* <tr><td>Kod pocztowy</td><td><input type="text" name="f_kod" id="test" onkeyup="checkZIPCodeRegEx()"><span id="kod" /></td></tr>*@
            <tr><td>Hasło</td><td><input type="password" name="f_password" onblur="checkPassword(this,'')"><span class="err" id="e_password" /></td></tr>
            <tr><td>Potwierdź hasło</td><td><input type="password" name="f_passwordConfirm"><span class="err" id="e_passwordConfirm" /></td></tr>
            <tr>
                <td>Opis</td>
                <td>
                    <textarea rows="5" cols="15" name="f_opis" onblur="checkOpis(this,'')"></textarea>
                    <span class="err" id="e_opis" />
                </td>
            </tr>
            <tr><td colspan="2"><input type="submit" value="Zareestruj się" onclick="return validate(this.form)"></td></tr>
        </table>
    </form>

</div>

@section scripts{
    <script src="~/Scripts/validationForm.js"></script>
}