html, body, div, span, applet, object, iframe,
  h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

.column{
    padding:0px
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:70px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.igorny {
    vertical-align: super;
}

.maint-container{
 
}


/*Main Page*/

@media screen and (max-width: 620px) {
    .main-page-three-photo h1 {
        font-size: 24px;
    }
}

.main-page-three-photo {
    padding: 10px 20px;
}

    .main-page-three-photo h1 {
        padding: 10px 20px;
        font-weight: bold;
        text-align: center;
        margin: 30px 0px;
    }

    .main-page-three-photo img {
        border: 1px solid black;
    }

        .main-page-three-photo img:hover {
            border: 1px solid black;
            opacity: 0.7;
        }

.main-page-three-photo-text {
    text-align: center;
}

    .main-page-three-photo-text h2 {
        font-weight: bold;
        color: #2b261f;
    }

        .main-page-three-photo-text h2:hover {
            font-weight: bold;
            color: #564e44;
        }

    .main-page-three-photo-text a {
        font-weight: bold;
        color: #2b261f;
        text-decoration: none;
    }

/*Add Product*/
.add-property{
  
}

/* All product filter*/

.all-property-list {
    margin: 10px;
    background-color: #f1f2ed;
}
.all-property-list:hover {
    margin: 10px;
    background-color: #f1f2ed;
    opacity: 0.7;
}

    .all-property-list img {
        width: 100%;
    }

    .all-property-list h2 {
        padding:10px;
        font-weight:bold;
        font-size:26px;
        color: #16271e;
    }

.all-property-list-element{
    padding: 0px;
}

.all-property-list-element-text{
    padding:20px;
    color:#523f3f;
}

/*Get Product*/
.get-property{
  
}
.get-product-title {
}

.get-product-img img {
    padding: 20px;
    border: 1px solid black;
    max-height: 600px;
    width: 100%;
}
/*Raport Admin*/
.raport-admin{

}

/* Manage User*/
.manage-user{

}

/*  Validation */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

textarea.input-validation-error {
    border-color: red;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
